/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.all {
    height: 100%;
    width: 100%;
}
.head_er {
    width: 100%;
}

.container {
    width: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

header .logo img {
    width: 80px;
    padding-left: 50px;
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding-right: 8rem;
}

header nav ul li {
    font-size: 1rem;
}

header nav ul li input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 60px 0;
    padding: 0 10rem;
}

.subject-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 15px;
    padding-right: 7rem;
    padding-left: 7rem;
}

.subject-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 7rem;
    padding-left: 7rem;
}

.subject-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease; 
}

.subject-item:hover {
    background-color: #f5f5f5; 
    cursor: pointer; 
}

.subject-item:active {
    background-color: #e0e0e0; 
}


.subject {
    font-size: 1.3rem;
}

.class-name {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
}

.class-name .circle {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 50%;
}

.search-container {
    position: relative;
}

.search-input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: width 0.3s ease;
    width: 0;
    opacity: 0;
    visibility: hidden;
}

.search-container.active .search-input {
    width: 150px;
    opacity: 1;
    visibility: visible;
}

.search-icon {
    cursor: pointer;
    font-size: 1.2rem;
}

button {
    background-color: white;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutUs {
    text-decoration: none;
    color: black;
}



