.form_title {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

.information-container {
    max-width: 90%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.information-form {
    display: flex;
    flex-direction: column;
}

.input_form {
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    margin: 12px 0;
}
    
.button_form {
    padding: 10px;
    background-color: #2a3c95;
    color: white;
    border: none;
    border-radius: 4px;
}

.linked_class-item {
    margin: 12px 0;
    width: 100%;
}

input[type="file"] {
    display: none;
}

label {
    width: 150px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: #2a3c95;
    padding: 10px;
    margin: 12px 0;
    border-radius: 4px;
    text-align: center;
}

.upload_files:hover, .button_form:hover {
    cursor: pointer;
    opacity: 0.9;
}   