.content {
    display: flex;
    flex-direction: column;
    margin: 60px 0;
    padding: 0 10rem;
}

.subject-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 15px;
}

.subject-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subject_class-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease; 
}

.subject_item {
    font-size: 20px;
}

.class-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #333;
}

.class-item a {
    text-decoration: none;
    color: #000;
}

.class-item a:hover {
    color: #2a3c95;
}