.list_container {
    /* max-width: 90%; */
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
}

.list_title {
    text-align: center;
    font-size: 20px;
    margin: 12px 0;
}

.toolbar {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
    border-radius: 5px;
}

.add-btn {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #2a3c95; 
    border-radius: 5px;
}

.add-btn a {
    color: white;
    text-decoration: none;
}

.search-input {
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.search-input:focus {
    border-color: #2a3c95; 
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    overflow: hidden;
}

th, td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

th {
    background-color: #2a3c95; 
    color: white; 
    font-weight: bold;
    text-transform: uppercase; 
}

td {
    background-color: #f9f9f9; 
}

tr:nth-child(even) td {
    background-color: #f2f2f2; 
}

.student_list_link {
    text-decoration: none;
    color: #000;
}

.student_list {
    overflow: hidden;
    overflow-x: auto;
}

.student_list::-webkit-scrollbar {
    height: 16px; 
}

.student_list::-webkit-scrollbar-track {
    background: transparent;
}
  
.student_list::-webkit-scrollbar-thumb {
    background-color: #d4d3d3; 
    border-radius: 10px;
    border: 2px solid #f0f0f0;
}
  
.student_list::-webkit-scrollbar-thumb:hover {
    background-color: #9c9c9c; 
}

.class-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #333;
}

.class-item {
    padding: 8px;
}

.class-item a {
    text-decoration: none;
    color: #000;
}

.class-item a:hover {
    color: #2a3c95;
}

.list_button {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #2a3c95;
    color: #ffffff;
}

.delete-btn {
    background-color: #f44336;
    color: #ffffff;
}

