{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 
    
    <div class="information-container">
        <h1 class="form_title"> Add Subjects </h1>
        <form action="/subject/add_subject" method="POST" class="information-form">
            <input class="input_form" name="subject_name" type="text" id="subject_name" placeholder="Subject name" required>
            <button class="button_form" type="submit">Add</button>
        </form>
    </div>

{% endblock %}
