<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USTH Management System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='add_information.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='list_information.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">

{% block head %} {% endblock%}
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img class="logo_img" src="../../static/logo/usth_logo.webp"></a>
        </div>
        <nav class="navigation">
            <ul class="navigation_list">
                <li class="navigation_item"><a href="/">HOME</a></li>
                <li class="navigation_item"><a href="/class">CLASS</a></li>
                <li class="navigation_item"><a href="/check_attendance">CHECK ATTENDANCE</a></li>
            </ul>
        </nav>
    </header>
    
    
{% block body %}
    
{% endblock%}
    
</body>
</html>