{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 
    <div class="list_container">
        <div class="toolbar">
            <button class="list_button add-btn"><a href="/class/add_class">Add Class</a></button>
            <input type="text" class="search-input" placeholder="Search">
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>Class name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for class in classes %}
                <tr>
                    <td>{{class.class_name}}</td>
                    <td>
                        <button class="list_button edit-btn">Edit</button>
                        <button class="list_button delete-btn">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}