{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 
    <div class="list_container">
        <div class="toolbar">
            <button class="list_button add-btn"><a href="/class/add_class">Add Class</a></button>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>Class name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for class in classes %}
                <tr>
                    <td>
                        <a href="/{{class.id}}/student_list" class="student_list_link">
                            <div>{{class.class_name}}</div>
                        </a>
                    </td>
                    <td>
                        <a href="/class/{{class.id}}/edit"><button class="list_button edit-btn">Edit</button></a>
                        <a href="/class/delete/{{class.id}}"><button class="list_button delete-btn">Delete</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
{% endblock %}