{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="information-container">
    <h1 class="form_title">{{record_to_edit.date}} <br> {{student.student_name}}<br>Edit Status </h1>
    <form  action="/{{subject_id}}/{{class_id}}/{{student.id}}/{{record_to_edit.id}}/edit" method="POST" class="information-form">
        <input  class="input_form" type="text" name="record_status" id="record_status" value="{{record_to_edit.status}}">
        <button class="button_form" type="submit">Edit</button>
    </form>
</div>

{% endblock %}  