{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 
    <div class="container">
        <div class="content">
            <div class="subject-header">
                <h1>Subjects</h1>
                <h1>Classes</h1>
            </div>
            
            <div class="subject_class-list">
                {% for subject in subjects %}
                    <div class="subject_class-item">
                        <div class="subject_item">
                            <h3>{{ subject.subject_name }}</h3>
                        </div>
                        <div class="class-list">
                            {% for subjectClass in subjectClasses if subjectClass.subject_id == subject.id %}
                                {% for class in classes if class.id == subjectClass.class_id %}
                                    <div class="class-item">
                                        <h3>
                                            <a href="./{{ subject.id }}/{{ class.id }}/student_list">{{ class.class_name }}</a>
                                        </h3>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
