<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Class List</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="all">
        <div class="head_er">
            <header>
                <div class="logo">
                    <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-6/327927149_1180985989455540_7041981160989630136_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHyHNJBW-ji9oNRz0bd_X4azYfQsbusVBfNh9Cxu6xUF6568PvfMy968CI4CdHbsLtRr8mRAclv75GONxBwwG5n&_nc_ohc=LB3fl_VbEbAQ7kNvgETnhQx&_nc_zt=23&_nc_ht=scontent.fhan2-5.fna&_nc_gid=AoVwQlUrYwg9Gg2USa2tdTU&oh=00_AYA9UE82CMQmQO-O2e3VVGkq27E7LlQeAfVe6VENL-p6AA&oe=6738E33A" alt="USTH Logo">
                </div>
                <nav>
                    <ul>
                        <!-- <li>About Us</li> -->
                        <a class="aboutUs" href="./aboutUs">About Us</a>
                        <li>Subject</li>
                        <li>Class</li>
                        <li>Updates</li>
                        <li class="search-container">
                            <span class="search-icon" onclick="toggleSearch()">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="text" class="search-input" placeholder="Search">
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    
        <div class="container">
            <div class="content">
                <div class="subject-header">
                    <span>Subject</span>
                    <span>Class name</span>
                </div>
                
                <div class="subject-list">
                    <a href="./SignalAndSystem" class="subject-item">
                        <div class="subject">
                            <strong>Signal and System</strong><br>
                            Dr. Tran Hoang Tung
                        </div>
                        <div class="class-name">
                            <div class="circle"></div>
                            ICT Class 1
                        </div>
                    </a>
                    
                    <div class="subject-item">
                        <div class="subject">
                            <strong>Algebraic Structures</strong><br>
                            Dr. Doan Nhat Quang
                        </div>
                        <div class="class-name">
                            <div class="circle"></div>
                            ICT Class 2
                        </div>
                    </div>
                    
                    <div class="subject-item">
                        <div class="subject">
                            <strong>Object-oriented Programming</strong><br>
                            Dr. Nghiem Thi Phuong
                        </div>
                        <div class="class-name">
                            <div class="circle"></div>
                            ICT G1
                        </div>
                    </div>
                    
                    <div class="subject-item">
                        <div class="subject">
                            <strong>Object-oriented Programming</strong><br>
                            Dr. Tran Giang Son
                        </div>
                        <div class="class-name">
                            <div class="circle"></div>
                            ICT G2
                        </div>
                    </div>
                    
                    <div class="subject-item">
                        <div class="subject">
                            <strong>Philosophy</strong><br>
                            Dr. Tran Xuan Binh
                        </div>
                        <div class="class-name">
                            <div class="circle"></div>
                            ICT G3
                        </div>
                    </div>
                    
                    <div class="subject-item">
                        <div class="subject">
                            <strong>Fundamental of Database</strong><br>
                            Dr. Nguyen Hoang Ha
                        </div>
                        <div class="class-name">
                            <div class="circle"></div>
                            ICT G4
                        </div>
                    </div>
                    
                    <div class="subject-item">
                        <div class="subject">
                            <strong>Fundamental of Database</strong><br>
                            Dr. Nguyen Hoang Ha
                        </div>
                        <div class="class-name">
                            <div class="circle"></div>
                            ICT G5
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <script src="../static/script.js"></script>
</body>
</html>
