<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="list.css">
    <title>Danh Sach Diem Danh</title>
</head>
<body>
    <!-- <div class="all">
        <header>
            <div class="logo">
                <img src="./asset/logo.jpg" alt="logo"></main>
            </div>
            <nav>
                <li class="search-container">
                    <span class="search-icon" onclick="toggleSearch()">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input type="text" class="search-input" placeholder="Search">
                </li>
            </nav>
        </header>
    </div> -->

    <div class="list_main">
        <!-- <div class="slide_bar">
            <div class="container_lhs">
                Calendar <br>
                List
            </div>
        </div> -->
    
        <div class="right_hand_side">
            <div class="container_rhs"> 
                <div class="subject-time">
                    <p>Time: 20/11/2024</p>
                </div>
                <div class="subject-title">
                    <p>Signal and System</p>
                    <p>Dr.Tran Hoang Tung</p>    
                </div>
                <div>
                    <button class="btn">import</button>
                </div>
                
            </div>

            <div class="table_list">
                <table>   
                    <thead>
                        <tr>
                            <td>STT</td>
                            <td> Student Name</td>
                            <td> Student Id</td>
                            <td> State</td>
                        </tr>
                    </thead>
                
                    <tr>
                        <td>1</td>
                        <td>Trần Ngọc Việt Anh</td>
                        <td> BA12-003</td>
                        <td>
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>

                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Ngô Huyền Anh</td>
                        <td> BA12-006</td>
                        <td> 
                            <<form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Tăng Văn Anh</td>
                        <td> BA12-007</td>
                        <td> 
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td> 
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td> 
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td> 
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td> 
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td> 
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td> 
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>10</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td>
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>11</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td>
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>12</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td>
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>13</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td> 
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>14</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td>
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>15</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td>
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>16</td>
                        <td>Nguyễn Minh Đức</td>
                        <td> BA12-015</td>
                        <td>
                            <form action=""method ="get">
                                <label for="states"></label>
                                <select name="states" id="states" >
                                    <option class="state-1" value="1">Present</option>
                                    <option class="state-2" value="2">Late</option>
                                    <option class=" state-3" value="3">Absent</option>
                                </select>
                            </form>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</body>
</html>