<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng HTML</title>
    <link rel="stylesheet" href="../static/SignalAndSystem.css">
</head>
<body>
    <div class="nav-container">
        
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Mã Sinh Viên</th>
                    <th>Trạng Thái</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.index }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.id }}</td>
                    <td>{{ student.state }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
